*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.eggs/
dist/
sdist/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written into a dist/ directory, but putting them here
#  prevents "double-adding" them when the dist/ directory is not used.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Environments
.env
.venv/
env/
venv/
ENV/
venv.bak/
*.swp
*~
# Jupyter Notebook
.ipynb_checkpoints
.envrc
nexus-ca.pem
install_certificates.sh
deploy_nexus.sh
Jenkinsfile
